.outerBorder{
    border: 1px solid black;
    border-radius:3px;
    width: 180px;
}

.midBar{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 42%;
}

.col2{
    margin-right: 10%;
}

.col4{
    right: 10%;
    margin-right: 5%;

}



.botBar{
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.ContainerWrapper{
    position: relative;

height: 100%; 
width: 100%; 
object-fit: contain;
}

.topBar{
    margin-top: 1%;
}