.background{
  background-color: black;
}

.container{
    border-style: solid;
    border-color: black;
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.dropping {
    visibility: hidden;
  }
  
  .react-grid-item.react-grid-placeholder {
    background: rgb(44, 51, 150);
    border-radius:8px;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }

  .container{
    z-index: 1000;
    border-radius:8px;
    background-color: rgb(255, 0, 0, 0.4);
  }

  .layout{
    z-index: 1000;
  }

  
  .top{
    border: 2px solid black;
    border-radius:0px !important;
  }

  .row2{
    border-color: rgb(0, 191, 255);

  }

  .rose1{
    border-color: royalblue;
  }

  .rose2{
    border-color: forestgreen
  }

  .rose3{
    border-color: darkgreen;
  }

  .rose4{
    border-color: slateblue;
  }

  .bot1{
    border-color:slateblue;
  }

  .bot2{
  border-color:steelblue;
}

.bot3{
border-color:olive;
}

.Air{
border-color:orange;}

.Water{
border-color:aqua;
}

.textColour{
  color: white;
}

